html,
body {
    font-family: Arial;
    overflow-x: hidden;
}

body {
    background: #ccc;
}

section {
    box-sizing: border-box;
    margin: 0 auto;
    width: 25rem;
    padding-bottom: 60px;
    background: white;
    padding: 30px;
}

.full-width{
    position: relative;
    margin: 0 -30px;
    padding: .25rem 30px;
    background: black;
    color: white;
    font-size: 1.125rem;
}