html,
body {
    font-family: Arial;
    overflow-x: hidden;
}

body {
    background: #ccc;
}

section {
    box-sizing: border-box;
    margin: 0 auto;
    width: 25rem;
    padding-bottom: 60px;
    background: white;
    padding: 30px;
}